h1, h2, h3, h4, h5, h6, blockquote a {
    font-family: 'Expletus Sans Variable', system-ui;
    text-align: center;
}

blockquote {
    background-color: #353459;
    border-radius: 20px;
    font-size: 1.1rem;;
    width: 40%;
    margin-left: 30%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: white;
    text-align: center;
}

p {
    font-family: 'Exo 2 Variable', sans-serif;
    font-size: 1rem;
}

strong {
    text-align: center;
}

body {
  margin: 0;
  padding: 0;
  border-width: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box; /* Add this line */
  background-color: #0F0F26;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40%;
}

a {
    color: #F2D22E;
    text-decoration: none;
}

.hideable{
    width: 20vw;
}

.resize {
    left: 21.2vw;
    width: 54.6vw;
}

@media (max-width: 600px) {
    .hideable {
        display: none;
    }
    .resize {
        width: 100vw;
        left: 0vw;
    }
}