---
// Supports weights 400-700
import "@fontsource-variable/expletus-sans";
// Supports weights 100-900
import "@fontsource-variable/exo-2";
import MainPage from "../../components/MainPage.astro";
import "../../styles/mdx.css";
import "../../styles/contact.css";
const socialMedias = [
  ["LinkedIn", "https://www.linkedin.com/in/thomas-lower-234836245/"],
  ["Email", "mailto:thomaslower9@gmailcom"],
  ["Github", "https://github.com/supersliser"],
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Thomas Lower</title>
  </head>
  <body>
    <MainPage title="Contact Me" smallNavBar />
    <div id="content">
      <div id="container">
        <h1>Get In Touch</h1>
        {
          socialMedias.map((socialMedia) => (
            <a href={socialMedia[1]} class="social">
              {socialMedia[0]}
            </a>
          ))
        }
      </div>
    </div>
  </body>
</html>
