---
import Navbar from "../components/Navbar.astro";
// Supports weights 400-700
import "@fontsource-variable/expletus-sans";
// Supports weights 100-900
import "@fontsource-variable/exo-2";
import "../styles/MainPage.css";

const { title, smallNavBar } = Astro.props;
const navbarClass = smallNavBar ? "navbar-container-small" : "navbar-container";
---

<main id="main-page">
  <div id="title">
    <h1>
      {title}
    </h1>
  </div>
  <div id={navbarClass}>
    <div>
      <Navbar />
    </div>
  </div>
</main>;
