---
import Navbar from "../components/Navbar.astro";
// Supports weights 400-700
import "@fontsource-variable/expletus-sans";
// Supports weights 100-900
import "@fontsource-variable/exo-2";

const {title} = Astro.props;
---

<main
  style="background-color: black; margin: 0; padding: 0; border-width: 0;width: 100vw; height: 100vh; position: absolute; top: 0; left: 0;"
>
  <div
    style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
  >
    <h1
      style="color: white; font-size: 5rem; font-family: 'Exo 2 Variable', sans-serif;"
    >
      {title}
    </h1>
  </div>
  <Navbar />
  <slot />
</main>;
