---
import Image from "astro/components/Image.astro"

const { src, alt } = Astro.props


---

<div style="flex-direction: column; align-items: center; justify-content: start; display: flex; max-width: 100%;">
    <Image src={src} alt={alt || "Image"} width={300}/>
    <p style="text-align: center; font-size: 0.8rem; margin-top: 0; border-top: 1px solid #ffffff; width: 550px;">{alt}</p>
</div>
