---
import "../styles/navbar.css";

const items = [
  ["Home", "/"],
  ["About", "/about/"],
  ["Database", "/projects/"],
  ["Guides", "/guides/"],
  ["Tasks", "/tasks/"],
  ["Contact", "/contact/"],
];

let characterCount = 0;

for (var i = 0; i < items.length; i++) {
  characterCount += items[i][0].length + 2;
}
---

<nav>
  {
    items.map((item) => (
      <a href={item[1]} class="nav-item">
        {item[0]}
      </a>
    ))
  }
</nav>
