---
const { projects, fullSize, hasLogo } = Astro.props;
---

<ul class="hideable"
  style={fullSize
    ? "margin: 0; padding: 0; display: flex; justify-context: start; align-items: center; flex-direction: column; width:100%;"
    : "overflow-y: auto; height: 95.9vh; position: fixed; top: -1.6%; left: 0; padding: 20px; background-color: #000000; color: #ffffff; border-color: #ffffff; border-width: 1px; border-style: solid"}
>
  {
    projects.map((project: any) => (
      <a
        href={project.url}
        style="width: 50%; text-align: center; color: #ffffff; font-family: 'Expletus Sans Variable', system-ui;display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px; background-color: rgba(255, 255, 255, 0.1); padding: 10px; border-radius: 10px"
      >
        {hasLogo && (
          <img
            src={"/Logos/" + project.frontmatter.logo}
            alt={"logo for " + project.frontmatter.title}
            style="width: 30px; height: 30px; margin-right: 10px;"
          />
        )}
        {project.frontmatter.title}
      </a>
    ))
  }
</ul>
